body {
    font-size: 17px;
}

.article-container {
    max-width: 900px;
}

.home-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

p.read-more {
    display: none;
}

.article-title a {
    font-size: 1.4rem;
    color: #0095eb;
}

.article-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.article-list-item .article-metadata {
    margin-bottom: 0px;
}

.article-list-item {
    margin-bottom: 0px;
}
